body {
  background-color: rgb(70, 92, 92);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 50%;
  margin: 16px;
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
}

.choose {
  margin-bottom: 8px;
}

.button-upload {
  background-color: #EA4C89;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #EA4C89;
}

.button-upload:hover {
  cursor: pointer;
}

.files-title {
  
}
